<html>
<canvas id=c></canvas>
<head>
    <title>Bingo</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
</head>

<body>
    <div class = "tablero">
      {% for fila in tabla %}
      <div class = "fila">
        {% for celda in fila %}
        {% if celda == 0 %}
          <div></div>
        {% else %}
          <div class = "celda"> {{celda}} </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}

    </div>
</body>
</html>
